
/*----------------------------*/
/*Banner                      */
/*----------------------------*/

.main-banner {
  background-image: linear-gradient(#fff, #ddd);
}

.container {}

.banner {
  height: 500px;
  display: flex;
}
.banner-prev,
.banner-next {
  width: 90px;
  color: var(--color);
  font-size: 70px;
  background: none;
  border: 0;
  transition: 0.5s all;
  cursor: pointer;
}

.banner-prev:focus,
.banner-next:focus {
  outline: none; /*po najechaniu tabulatorem nie robi sie niebieska ramka */
}
.banner-prev:hover,
.banner-next:hover {
  color: black;
}
.banner-next {
  order:1; /* zmienia kolejnosc w flex boxie */
}


.banner-sliders {
  flex-grow:1;
  position: relative;
  .banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    .picture {
      width: 35%;
      img {
        max-width: 100%;
        padding-left: 20px;
      };
    };
    .description {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 33px;
        font-weight: 400;
        padding-top: 20px;
        margin: 0;
        span {
          color: var(--color);
          font-weight: 800;
        };
      };
      p {
        font-size: 18px;
        color: #a3a3a3;
        padding: 10px 30px;
        text-align: center;
      };
      .button {
        border-radius: 8px;
        border:0;
        font-size: 20px;
        text-transform: uppercase;
        background: var(--color);
        padding: 15px 35px;
        a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        };
      };
    };
    opacity: 0;
    transition: 0.7s; // opacity;
    &-actives {
      opacity: 1;
      z-index: 1;
    };
  };
};


